$primary: #205269;
$secondary: #d0818c;
$dark: #1d3e50;
$light: #f2f2f2;

$theme-colors: (
  'primary': #205269,
  'secondary': #d0818c,
  'dark': #1d3e50,
  'light': #f2f2f2
);

$font-family-sans-serif: 'Chakra Petch', sans-serif;
$body-color: $light;
$body-bg: $dark;
$link-color: $light;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
