a {
  text-decoration: none !important;
}

.p5 {
  background-color: #ed225d;
  color: whitesmoke;
}

.js {
  background-color: #f0db4f;
  color: var(--secondary-color);
}

.laravel {
  background-color: #f05340;
  color: whitesmoke;
}

.mysql {
  background-color: #00758f;
  color: whitesmoke;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .content {
    height: 100vh;
    overflow-y: scroll;
  }
}
